.form {
    &__newsletter {
        @apply relative flex flex-col items-center justify-center;
        .form__input {
            @apply h-20 w-full px-5 lg:px-0 lg:w-[calc((655/1600)*100%)] flex relative;
            &--prefix {
                @apply h-full pl-30 flex bg-white text-xs md:text-base text-color1 font-semibold items-center justify-center relative;
                &:after {
                    content: "";
                    @apply w-px h-[calc(100%-20px)] bg-color6/30 relative right-0 block mx-30 my-2.5;
                } 
            }
            &-acceptance {
                @apply h-auto mt-5; 
                span {
                    margin: 0;
                }
            }
            .wpcf7-not-valid-tip {
                
            }
        }
        .wpcf7-form-control-wrap[data-name="tel-793"] {
            @apply grow static;
            input[type="tel"] {
                @apply outline-0 w-full bg-white h-20 box-border text-color1;
                &::placeholder {
                    @apply text-color6;
                }
            }
        }
        .btn {
            @apply min-w-[310px]  #{!important};
            @apply translate-x-[40%] right-0 top-1/2 -translate-y-1/2 absolute text-color1;
            &.button {
                &-desktop {
                    @apply hidden lg:block;
                }
                &-mobile {
                    @apply block lg:hidden;
                    @apply relative -translate-x-0 translate-y-0 top-0 mt-5;
                }
            }
            &:hover {
                @apply text-white;
            }
        }
    }
    &__serwis {
        @apply relative flex flex-col items-center justify-center gap-5;
        .wpcf7-not-valid-tip {
            @apply mt-0 absolute left-0 -bottom-4 lg:bottom-auto top-auto lg:-top-4 font-bold;
        }
        .form__input {
            @apply lg:flex items-center justify-start relative;
            @apply w-full lg:w-[calc((520/1500)*100%)];
            > label {
                @apply lg:absolute lg:-left-5 lg:-translate-x-full;
            } 
            .wpcf7-form-control-wrap {
                @apply w-full h-full flex;
                input, textarea {
                    @apply w-full; 
                    @apply outline-0 border border-[#0F142533]/20 bg-white text-color1 text-xs md:text-base box-border;
                }
            }
            
            input {
                @apply h-60 p-5;
            }
            textarea {
                @apply h-[220px] p-5;
            } 
            &--message {
                .wpcf7-form-control-wrap {
                    @apply flex;
                }
                > label {
                    @apply top-5;
                }
            }
            &--acceptance {
                @apply h-auto; 
                @apply w-full lg:w-full lg:w-[calc((520/1500)*100%)];
                
                .wpcf7-form-control-wrap {
                    @apply w-full;
                }
                span {
                    margin: 0;
                }
            }
            &--button {
                @apply items-center justify-center;
                @apply w-full lg:w-[calc((520/1500)*100%)] mt-2.5;
                .btn {
                    @apply min-w-full  #{!important};
                }
            }
            .wpcf7-not-valid-tip {
                
            }
        }
        .btn {
           
            &:hover {
                @apply text-white;
            }
        }
    }
    &__produkt {
        @apply relative flex flex-col items-center justify-center gap-5;
        .wpcf7-not-valid-tip {
            @apply mt-0 absolute left-0 -bottom-4 lg:bottom-auto top-auto lg:-top-4 font-bold;
        }
        .form {
            &__group {
                @apply grid grid-cols-1 lg:grid-cols-2 gap-5;
                @apply w-full lg:w-[calc((1060/1400)*100%)];
            }
            
        
        }
        .form__input {
            @apply lg:flex items-center justify-start relative;
            .wpcf7-form-control-wrap {
                @apply w-full h-full flex;
                input, textarea {
                    @apply w-full; 
                    @apply outline-0 border border-[#0F142533]/20 bg-white text-color1 text-xs md:text-base box-border;
                }
            }
            input {
                @apply h-60 p-5 outline-none;
            }
            textarea {
                @apply h-[220px] p-5;
            } 
            &--title {
                @apply w-full lg:w-[calc((1060/1400)*100%)];
            }
            &--message {
                @apply w-full lg:w-[calc((1060/1400)*100%)];
                .wpcf7-form-control-wrap {
                    @apply flex;
                }
                > label {
                    @apply top-5;
                }
            }
            &--acceptance {
                @apply h-auto; 
               
                .wpcf7-form-control-wrap {
                    @apply w-full flex items-center;
                }
                span {
                    margin: 0;
                }
            }
            &--button {
                @apply items-center justify-center;
                
                .btn {
                    @apply min-w-full  #{!important};
                }
            }
            .wpcf7-not-valid-tip {
                
            }
        }
        .btn {
           
            &:hover {
                @apply text-white;
            }
        }
    }
}

input[type="checkbox"] {
    display: none;
}

// validation errors ourput bottom of form
.wpcf7-not-valid-tip {
    @apply mt-0 absolute text-xs left-0 -top-5 font-bold;
    @apply transition-all duration-500 ease-in-out;
}
.wpcf7-response-output {
    @apply text-color1 mt-14 border-color2 rounded border w-fit mx-auto bg-white transition-all text-xs md:text-base #{!important};
}

.wpcf7-validation-errors {
    @apply text-color1  mt-14 border-red-900 rounded border w-fit mx-auto bg-white transition-all text-xs md:text-base #{!important};

}
//checkboxes
.wpcf7-acceptance {
   @apply relative text-xs #{!important};
   label span:before {
       @apply flex items-center justify-center transition;
       @apply h-[30px] w-[30px];
       @apply shrink-0;
       @apply relative;
       @apply mr-2.5 lg:mr-5;
       content: "";
       background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/svg%3E%0A");
       @apply bg-no-repeat bg-center;
       
   }
   a {
        @apply underline transition-colors duration-500;
        &:hover {
            @apply text-color4;
        }
   }
   .wpcf7-list-item-label {
       @apply cursor-pointer flex items-center;
   }
}
.wpcf7-acceptance label > input:checked + span:before {
   background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='30' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 13L7 15L13 21L23 11L21 9L13 17L9 13Z' fill='%236B6B6B'/%3E%3C/svg%3E%0A");
}