nav {
    .nav {
        li {
            @apply transition-all duration-500;
            &:hover {
                @apply text-color3 dark:text-colorContrast;
            }
        }
    }
}
.menu-item-has-children {
    @apply relative;
    .sub-menu {
        @apply absolute opacity-0 z-[999] pb-30;
        @apply left-1/2 -translate-x-1/2 -translate-y-4 lg:mt-[22px] mt-4;
        @apply shadow-cien-2 bg-white min-w-[300px];
        @apply transition-all duration-500 ease-in-out invisible;
        
        @apply space-y-4 lg:space-y-5 xl:space-y-30;
        &:before {
            @apply w-full h-1 bg-color2 block lg:mb-30 mb-5;
            content: "";
        }
        li {
            @apply px-5 lg:px-30 text-color6;
        }
    }
    > a {
        @apply flex items-center justify-center relative;
        &:after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='%23080808' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            @apply ml-1 bg-no-repeat bg-center h-4 w-2 flex items-center justify-center;
            
        }
    }
    
    &.toggle-menu {
        > a {
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='%23080808' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
        .sub-menu {
            @apply opacity-100 pointer-events-auto visible;
            @apply -translate-y-0;
        }
    }
}
.mobile-menu {
    @apply opacity-0 top-0 left-0 w-full h-full z-[9999];
    @apply transition-all duration-500 ease-in-out;
    @apply bg-white shadow-cien-2;
    &.active {
        @apply translate-y-0 opacity-100;
    }
}

